aside {
    padding-bottom: 2em;
    background-color: $darkgrey;
    h3 {
        @include hidden;
        display: block;
    }
}

aside .design-selection, aside .design-archives{
    width: 100%;
    text-align: center;
    li {
        display: inline-block;
    }
}

aside .design-archives {
    ul {
        margin: 0 auto;
        transform: rotate(180deg);
        li {
            display: inline-block;
            transform: rotate(-180deg);
        }
    }
}

li.next {
    vertical-align: text-bottom;
}

li.next a{
    float: right;
    width: 30px;
    height: 30px;
    color: transparent;
    font-size: 0;
    line-height: 0;
    position: relative;
    &::after {
        @include clearfloat;
    }
    &::before {
        position: relative;
        top: 15px;
        margin-left: 0.5em;
        content: "f";
        font-family: "icons-font";
        color: white;
        display: inline-block;
        font-size: 2rem;
        transition: 0.3s ease-in-out;
    }
    &:hover::before {
        color: $turquoise;
    }
}

li.viewall{
    color: white;
    font-size: 1.5em;
    a {
        @include biglink;
        transition: all 0.25s ease-out;
    }

    a:hover{
        color: $turquoise;
    }
}

div[id="design-selection"]{
    color: white;
    padding-bottom: 1em;
    ul {
        margin: 0 auto;
        max-width: 1200px;
    }
    li{
        color: white;
        font-weight: 400;
        font-style: italic;
        line-height: 1.8;
        a {
            font-style: normal;
            color: white;
            transition: all 0.3s ease-in;
        }
        a:hover {
            color: $turquoise;
        }
    }
    li:nth-last-child(n+2)::after {
        content: "●";
        display: inline-block;
        color: $limegreen;
        padding: 0 0.4em;
        font-style: normal;
    }
}
