p[role="contentinfo"] {
    width: 250%;
    display: block;
    margin: 2em 0 0 -20%;
    padding: 4em 0 4em 20%;
    color: white;
    background-color: $darkgrey;
    font-weight: 400;

    // Links in _page-content.scss
}

footer{
    width: 100%;
    padding: 2em 0;
    text-align: center;

    a {
        display: inline-block;
        width: 70px;
        height: 70px;
        color: transparent;
        margin-right: 2em;
        transition: all 0.3s ease-in;
    }

    a:hover {
        opacity: 0.6;
    }

    a:first-child{
        background-image: url("../images/h-html.svg");
    }
    a:nth-child(2){
        background-image: url("../images/h-css.svg");
    }
    a:nth-child(3){
        background-image: url("../images/h-cc.svg");
    }
    a:nth-child(4){
        background-image: url("../images/h-access.svg");
    }
    a:nth-child(5){
        background-image: url("../images/h-github.svg");
    }
}
