p[role="contentinfo"] {
    width: 250%;
    display: block;
    margin: 2em 0 0 -20%;
    padding: 4em 0 4em 20%;
    color: white;
    background-color: $darkgrey;
    font-weight: 400;

    // Links in _page-content.scss
}

footer{
    width: 100%;
    padding: 2em 0;
    text-align: center;
    background-color: red;
    a {
        display: inline-block;
        background-color: white;
        width: 4em;
        height: 4em;
        color: transparent;
        margin-right: 2em;
        transition: all 0.3s ease-in;
    }
    :first-child{
        background: transparent url(../images/h-html.svg) no-repeat;
    }
    :nth-child(2){
        background: transparent url(../images/h-css.svg) no-repeat;
    }
    :nth-child(3){
        background: transparent url(../images/h-cc.svg) no-repeat;
    }
    :nth-child(4){
        background: transparent url(../images/h-access.svg) no-repeat;
    }
    :nth-child(5){
        background: transparent url(../images/h-github.svg) no-repeat;
        margin-right: 0;
    }

    a:hover {
        opacity: 0.6;
    }
}
