p[role="contentinfo"] {
    position: absolute;
    display: block;
    //min-height: 145px;
    padding: 4em 0 4em 5%;
    width: 95%;
    margin: 25em 0 0 -8%;

    color: white;
    background-color: $darkgrey;
    font-weight: 400;

    // Links in _page-content.scss
}

footer{
    width: 100%;
    position: relative;
    margin-top: 3em;
    padding: 2em 0;
    text-align: center;
    a {
        display: inline-block;
        background-color: white;
        width: 4em;
        height: 4em;
        color: transparent;
        margin-right: 2em;
        transition: all 0.3s ease-in;
    }
    :first-child{
        background: transparent url(../images/icons/h-html.svg) no-repeat;
    }
    :nth-child(2){
        background: transparent url(../images/icons/h-css.svg) no-repeat;
    }
    :nth-child(3){
        background: transparent url(../images/icons/h-cc.svg) no-repeat;
    }
    :nth-child(4){
        background: transparent url(../images/icons/h-access.svg) no-repeat;
    }
    :nth-child(5){
        background: transparent url(../images/icons/h-github.svg) no-repeat;
        margin-right: 0;
    }

    a:hover {
        opacity: 0.6;
    }
}
