p[role="contentinfo"] {
    display: block;
    margin: 4em 0 0 -20%;
    padding: 2em 0 0 0;
    color: white;
    background-color: $darkgrey;
    font-weight: 400;
    text-align: center;

    // Links in _page-content.scss
}

footer{
    width: 100%;
    padding: 1em 0 1em 0;
    text-align: center;
    background-color: $darkgrey;

    a {
        display: inline-block;
        width: 70px;
        //height: 70px;
        color: transparent;
        margin-right: 2em;
        &::after {
            font-family: "icons-font";
            font-size: 5em;
            color: white;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            transition: all 0.3s ease-in;

        }
        &:hover::after {
            color: $turquoise;
        }
    }

    a:first-child::after {
        content: "e";
    }
    a:nth-child(2)::after{
        content: "c";
    }
    a:nth-child(3)::after{
        content: "b";
    }
    a:nth-child(4)::after{
        content: "a";
    }
    a:nth-child(5)::after{
        content: "d";
    }
}
