div[id="zen-supporting"]{
    //max-width: 1600px;
    //margin: 0 auto;
}

div[id="zen-supporting"] {
    div a {
        font-weight: 500;
        font-style: normal;
        transition: all 0.3s ease-in;
        color: $blue;
    }
    div a:hover {
        color: $turquoise;
    }
    p[role="contentinfo"] {
        a{
            color: $limegreen
        }
        a:hover {
            color: $turquoise;
        }
    }
    div{
        margin: 0 auto;
        padding: 3em 0;
        max-width: 1600px;
        p, h3 {
            width: 40%;
            max-width: 640px;
        }
    }
    div:nth-child(odd){
        p, h3 {
            margin: 0 8% 0 50%;
        }
    }
    div:nth-child(even){
        p, h3 {
            margin: 0 50% 0 8%;
        }
    }
    div[id="zen-requirements"]{
        max-width: none;
        padding-bottom: 0;
        padding-top: 2.5em;

        // - Media queries pour fixer en pixels les éléments individuels

        p, h3 {
            margin: 0 0 0 8%;
        }
        h3 {
            width: 100%;
        }

        p:nth-last-child(2){
            padding-bottom: 6em;
        }
        p[role="contentinfo"] {
            max-width: none;
            width: 100%;
            margin: 0;
        }
    }
}


// - Images de contenu - //

div[id="zen-explanation"]{
    background: transparent url("../images/explanation.svg") no-repeat;
    background-position: 25% 30%;
    background-size: 18%;
}

div[id="zen-participation"]{
    background: transparent url("../images/participation.svg") no-repeat;
    background-position: right 25% center;
    background-size: 18%;
}

div[id="zen-benefits"]{
    background: transparent url("../images/benefits.svg") no-repeat;
    background-position: left 25% center;
    background-size: 12.5%;
    padding: 2em 0;
}

div[id="zen-requirements"]{
    background: transparent url("../images/requirements2.svg") no-repeat;
    background-position: right 25% center;
    background-size: 18%;
}
