header {
    min-height: 100vh;
    margin:0;
    padding:0;
    background-image: url('../images/green_triangle.svg'), url("../images/bichromie1.jpg");
    background-color: transparent;
    background-position: center bottom 25px, center center;
    background-repeat: no-repeat;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    background-size: auto, cover; /* version standardisée */

    font-family: LeagueSpartan;
    font-size: 3em;
    line-height: 1.5em;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
