div[id="zen-summary"]{
    text-align: center;

    p:first-child {
        font-family: LeagueSpartan;
        font-size: 1.5em;
        line-height: 1.5em;
        color: $darkgrey;
        padding: 2em 0;
        width: 50%;
        max-width: 750px;
        margin: 0 auto;
    }
    p:nth-child(2){
        padding: 1.5em 0;
        background-color: $turquoise;
        color: white;
        font-size: 2em;
        font-family: OpenSans;
        font-weight: 400;
        line-height: 1.3em;
        margin-bottom: 2em;
        a {
            display: inline-block;
            transition: all 0.25s ease-out;
            @include biglink;
        }
        a::after {
            @include biglink-after;
        }
        a:hover::after {
            @include biglink-hover;
        }
        a:hover {
            color: $limegreen;
        }
    }
}

div[id="zen-preamble"]{
    margin-left: 8%;
    font-size: 1.3em;
    line-height: 1.5;
    font-weight: 500;

    background: transparent url("../images/css-intro.svg") no-repeat;
    background-position: right 20% center;
    background-size: 20%;

    p {
        width: 50%;
        max-width: 700px;
    }

    h3 {
        width: 50%;
        max-width: 300px;
        border-bottom: none;
        letter-spacing: 0.15em;
        margin-bottom: 0.4em;
    }
}
