div[id="zen-resources"]{
    width: 100%;
    font-family: LeagueSpartan;
    font-size: 1em;

    position: absolute;
    top: 0;
    left: 0;

    ul {
        margin: 3.75em 8% 0;
    }
    li {
        display: inline-block;
        margin-right: 15px;
    }
    h3 {
        @include hidden;
    }
    a {
     text-decoration: none;
     color: white;
     transition: all 0.3s ease-in;
   }
   a:hover {
       color: $limegreen;
   }
}
