@font-face {
   font-family: LeagueSpartan;
   src: url("../fonts/league-spartan/LeagueSpartan-Bold.otf");
   font-weight: normal;
}

@font-face {
   font-family: OpenSans;
   src: url("../fonts/OpenSans/OpenSans.otf");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: OpenSans;
   src: url("../fonts/OpenSans/OpenSans-Light.otf");
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: OpenSans;
   src: url("../fonts/OpenSans/OpenSans-Bold.otf");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: OpenSans;
   src: url("../fonts/OpenSans/OpenSans-Semibold.otf");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: OpenSans;
   src: url("../fonts/OpenSans/OpenSans-Italic.otf");
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: OpenSans;
   src: url("../fonts/OpenSans/OpenSansLight-Italic.otf");
   font-weight: 100;
   font-style: italic;
}

@font-face {
    font-family: "icons-font";
    src: url("../fonts/icons-font/icons-font.eot");
    src: url("../fonts/icons-font/icons-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons-font/icons-font.ttf") format("truetype"),
    url("../fonts/icons-font/icons-font.woff") format("woff"),
    url("../fonts/icons-font/icons-font.svg") format("svg");
    font-weight: 400;
}
