h3 {
    font-family: LeagueSpartan, 'Open Sans', arial, sans serif;
    font-size: 1.2em;
    font-weight: 400;
    color: $turquoise;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0.8em;
}
