@mixin hidden {
    text-indent: -9999px;
    font-size: 0;
}

@mixin clearfloat {
    content: "";
    clear: both;
    display: block;
}

@mixin biglink {
    font-weight: 600;
    padding-bottom: 0.15em;
    position: relative;
}

@mixin biglink-after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 6px solid $limegreen;
    transition: all 0.25s ease-out;
}

@mixin biglink-hover {
    width: 100%;
}
