@media screen and (min-width: 1600px) {

    // - header title - //
    header {
        font-size: 5.063em;
    }

    // - content divs - //
    div[id="zen-supporting"] div[id="zen-requirements"] {
        p, h3 {
            width: 1600px;
            max-width: 1600px;
            margin: 0 auto;
            padding-left: 128px;
            padding-right: 832px; // 1600 - largeur du p, - son précédent padding.
        }
        h3 {
            display: block;
            position: relative;
        }
        p[role="contentinfo"]{
            padding: 2em 0 0;
        }

        background-image: none;
    }

    div[id="zen-requirements"] h3::after {
        content: "";
        display: block;
        width: 1600px;
        height: 259px; // largeur de l'image 288, proportionnellement sa height est de 258 et des poussières
        position: absolute;
        top: 6em;
        background: transparent url("../images/requirements2.svg") no-repeat;
        background-size: 288px;
        background-position: 854px 0; // impossible de dire comment ça se fait. j'ai calculé aux pixels
    }
}

@media screen and (max-width: 1200px){
    // - First intro - //
    div[id="zen-summary"]{
        p:first-child {
            width: 75%;
        }
    }

    // - intro image - //
    div[id="zen-preamble"]{
        background-position: right 15% center;
    }

    // - Content images +++ - //
    div[id="zen-supporting"] div{
        background-size: 25%;

        &:nth-child(odd){
            background-position: left 15% center;
        }
        &:nth-child(even){
            background-position: right 15% center;
        }
        &[id="zen-benefits"]{
            background-size: 20%;
            background-position: left 20% center;
        }
    }
}

@media screen and (max-width: 1000px){
    // - intro image - //
    div[id="zen-preamble"]{
        background-size: 25%;
        background-position: right 10% center;
    }
}

@media screen and (max-width: 800px){
    // - nav - //
    div[id="zen-resources"]{
        ul{
            text-align: center;
            margin: 3.375em auto;
        }
    }

    // - header title - //
    header {
        font-size: 2.225em;
        padding: 2em 0.3em;
    }

    // - Second intro - //
    div[id="zen-summary"]{
        p:nth-child(2) {
            padding: 1.5em 0.3em;
            margin-bottom: 1.5em;
        }
    }

    // - Content images +++ - //
    .page-wrapper div[id="zen-supporting"] div {

        background-image: none;

        // - Content text - //

        padding: 1.5em 0;
        p, h3 {
            width: 100%;
            padding: 0 8% 0 8%;
            margin: 0;
        }

        &[id="zen-requirements"]{
            padding-bottom: 0;
        }
        p[role="contentinfo"]{
            margin-top: 3em;
            padding-top: 2em;
        }
    }

    // - footer - //
    p[role="contentinfo"] {
        line-height: 2;
        padding: 2em 0.3em 0 0.3em;
    }

    // - aside artists - //
    div[id="design-selection"] ul{
        padding: 0 0.3em 2em 0.5em;
    }
}


@media screen and (max-width: 670px){
    // - intro image - //
    div[id="zen-preamble"]{
        background-image: none;
        background-size: 0;

        // - intro text - //
        padding-bottom: 1.5em;
        margin-left: 8%;
        margin-right: 8%;
        p, h3 {
            width: 100%;
            margin: 0;
        }
    }


    // - aside -> artists - //
    div[id="design-selection"] li{
        line-height: 2.5;
    }
    div[id="design-selection"] {
        padding-bottom: 3em;
    }
    aside {
        padding-bottom: 0.3em;
    }

}

@media screen and (max-width: 550px){

    // - footer round links - //
    footer a {
        margin-bottom: 1em;
    }
    footer {
        padding-bottom: 2em;
    }
}

@media screen and (max-width: 450px){
    // - nav - //
    div[id="zen-resources"]{
        position: static;
        padding: inherit 0.3em;
    }

    // - Second intro - //
    div[id="zen-summary"]{
        p:nth-child(2) {
            font-size: 1.225em;
            line-height: 2;
        }
    }
}

@media screen and (max-width: 400px){
    // - nav - //
    div[id="zen-resources"]{
        position: static;
        font-size: 0.816em;
        padding-top: 2em;
        ul{
            text-align: center;
            margin: 1.225em auto;
            max-width: 90%;
            line-height: 2.5;
        }
    }

    // - First intro - //
    div[id="zen-summary"]{
        p:first-child {
            font-size: 1.225em;
        }
    }

    // - Content intro - //
    div[id="zen-preamble"] p {
        font-size: 0.816em;
    }

}

@media screen and (max-width: 300px){
    // - header title - //
    header {
        font-size: 1.5em;
    }

    // - First intro - //
    div[id="zen-summary"]{
        p:first-child {
            font-size: 1em;
        }
    }

    // - Content intro - //
    div[id="zen-preamble"] h3 {
        font-size: 0.816em;
    }

    // - aside -> viewall & next - //
    li.next, li.viewall {
        font-size: 1.225em;
    }
    li.next a {
        width: 20px;
        height: 20px;
    }

    // - aside artists - //
    div[id="design-selection"] {
        font-size: 0.816em;
    }
}
